body {
    background-color: rgb(218, 218, 218);
}
h1{
    text-align: center;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
}

.gridContainer div {
    background-color: white;
    border: 1px solid black;

}
